@use '../abstracts/variables' as variables;

.header{
    height : 95vh;
    background-image: linear-gradient(to right bottom, rgba(variables.$color-primary-light,0.8) , rgba(variables.$color-primary-dark , 0.8)) , url(/img/hero.jpg);
    background-size: cover;
    /* This is used to make the background image fixed and the content will scroll over the image */
    position: relative;

    background-position: top; /* what it does is if you resize the window... It will crop the image from bottom and the top remains the same you can verify this by changing the field to bottom or center */
    
    /* google search polygon css */
    clip-path: polygon(0 0 ,100% 0, 100% 75vh , 0 100%);

    &__logo-box{
        position: absolute;
        top : 40px;
        left : 40px;
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    &__logo{
        /* control height ... width figured by browser */
        height: 35px;
    }
    
}
